<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds"> <!-- 60s -->

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <!--<appender name="ls" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
        <!--<file>${catalina.home}/logs/ls.log</file> >&lt;!&ndash; 存放日志的位置 &ndash;&gt;-->
        <!--<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
            <!--<FileNamePattern>${catalina.home}/logs/ls.%d{{yyyy-MM-dd}.log.gz</FileNamePattern> &lt;!&ndash; 打包日志 &ndash;&gt;-->
        <!--</rollingPolicy>-->
        <!--<layout class="ch.qos.logback.classic.PatternLayout">-->
            <!--<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}[%thread] %-5level &logger - %msg%n</pattern>-->
        <!--</layout>-->
    <!--</appender>-->

    <!--<logger name="xxxx" level="INFO">-->
        <!--<appender-ref ref="ls" />-->
    <!--</logger>-->

    <!-- 级别 TRACE < DEBUG < INFO < ERROR -->
    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>